:root{
    --titulos: 33px;
    --margenes: 60px;
    --espacios: 10px;
    --espacios-contenidos: 45px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Header*/

header{
    width: 100%;
    height: 600px;
    background: url(facu.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

nav{
    width: 100%;
    height: 80px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}

.nav1{
    background: transparent;
    height: 80px;
    color: #E0DDCF;
}

.nav2{
    background: #1D1128;
    height: 100px;
    color: #E0DDCF;
}

.cont-nav{
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    height: inherit;
    overflow: hidden;
}

nav .enlaces a{
    display: inline-block;
    padding: 5px 0;
    margin-right: 17px;
    font-size: 17px;
    font-weight: 300px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: inherit;
}

nav .enlaces a:hover{
    border-bottom: 3px solid #1498a4;
    transition: 0.6s;
}


  
.icono{
    display: none;
    font-size: 24px;
    padding: 23.5px 20px;
}

.textos{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    overflow: hidden;
    text-align: center;
  }
  
  .textos>h1{
    font-size: 80px;
  }
  
  .textos>h2{
    font-size: 30px;
    font-weight: 300;
  }

